body {
    background: black;
    color:aqua;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: green;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;ÒÒ
}